<!--
<div [innerHTML]='content'></div> -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-2">
  <img src="../assets/Blue-cube.png" height="45" alt="">
  <a class="navbar-brand" href="#">&nbsp;Code<span style="font-weight: 800;">Block</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-item mt-1" style="color: green; margin-left: -10px;"><span>v</span>{{this.version}}</div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" style="width: 75%;">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> -->
    </ul>
    <div class="navbar-text">
      <div style="color: green;"><span style="color: white;">LastBuild</span>&nbsp;&nbsp;<span style="font-weight: 600;">{{this.timestamp | date: 'medium'}}</span></div>
    </div>
  </div>
  <!-- <ul class="nav navbar-nav ml-auto">
    <div class="nav-item" style="color: green;"><span style="color: white;">v</span>{{this.version}}</div>
  </ul>
  <div class="ml-auto" style="color: green;"><span style="color: white;">LastBuild</span>&nbsp;{{this.timestamp | date: 'medium'}}</div> -->
</nav>


<div  style="margin-top: 40px">
<span>&nbsp;</span>
</div>
<nav class="menu"  style="margin-top: 55px">
  <div style="margin-top: 50%;">
    <div class="mt-3 mb-3">
      <a [routerLink]="['/automation']" class="menu__item" data-tooltip="Automation Tests">
        <i class="material-icons">autorenew</i>
      </a>
    </div>


    <div class="mt-3 mb-3">
      <a [routerLink]="['/unit-test']" class="menu__item menu__item" data-tooltip="Unit Tests">
        <i class="material-icons">format_line_spacing</i>
      </a>
    </div>



    <div class="mt-3 mb-3">
      <a [routerLink]="['/application']" class="menu__item" data-tooltip="Build Information">
        <i class="material-icons">timeline</i>
      </a>
    </div>


  </div>

  <!-- <a href="#" class="menu__item" data-tooltip="Account Security">
    <i class="material-icons">https</i>
  </a>
  <a href="#" class="menu__item" data-tooltip="Settings">
    <i class="material-icons">settings</i>
  </a> -->
</nav>
<div class="container" style="margin-left: 100px; height: 100vh;">


    <router-outlet></router-outlet>



</div>



